.start-button {
  display: flex;
  justify-content: center;
}

/* .photo {
  display: flex;
  justify-content: center;
} */
.feedback {
  text-align: center;
}
.correct {
  background-color: #19a7d2;
}
.incorrect {
  background-color: lightcoral;
}
.start-end-screen .question-screen {
  /* border: solid black 1px; */
  display: grid;
  grid-template-areas: ". photo header photo2 .";
}
